.btn {
  width: 200px;
  height: 100px;
  background-color: #ff0;
  transition: background-color 2s linear 0s;
}

.btn:hover {
  background-color:#00FF00 ;
}

.btn:active {
  background-color: #680000 ;
}

.block {
  display: block;
  width: 250px;
  height: 250px;
  background-color: #6600CC;
  margin-top: 100px;
  transform: translateX(-80%);
  transition: transform 2s linear 0s;
}

.block:hover {
  transform: translateX(10%);
}

.move {
  position: absolute;
  margin-top: 10px;
  width: 100%;
  max-height: 500px;
  min-height: 400px;
  background: url("../img/bg.png") center / cover;
  overflow: hidden;
}

.move img {
  position: absolute;
  width: 400px;
  top:165px;
  animation-name: move;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.move img:hover {
  animation-play-state: paused;
}

@keyframes move {
  from {
    left: 0;
  }
  65% {
    left: calc(100vw - 50px);
  }
  to {
    left: calc(42vw - 100px);
  }
}